{% extends 'base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
   <div class="container mt-5">
        <h1 class="mb-4">Modifier un produit</h1>

        {% if product.image %}
        <div class="mb-4 text-center">
            {% if product.image starts with 'images/' %}
                <img src="{{ asset(product.image) }}" alt="{{ product.name }}" class="img-fluid rounded mb-3">
            {% else %}
                <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}" class="img-fluid rounded mb-3">
            {% endif %}
        </div>
        {% endif %}

        {{ form_start(productForm) }}
            <div class="form-group">
                {{ form_label(productForm.name) }}
                {{ form_widget(productForm.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(productForm.name) }}
            </div>

            <div class="form-group">
                {{ form_label(productForm.description) }}
                {{ form_widget(productForm.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(productForm.description) }}
            </div>

            <div class="form-group">
                {{ form_label(productForm.price) }}
                {{ form_widget(productForm.price, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(productForm.price) }}
            </div>

            <div class="form-group">
                {{ form_label(productForm.imageFile) }}
                {{ form_widget(productForm.imageFile, {'attr': {'class': 'form-control-file'}}) }}
                {{ form_errors(productForm.imageFile) }}
            </div>

            <div class="form-group">
                {{ form_label(productForm.category) }}
                {{ form_widget(productForm.category, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(productForm.category) }}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Modifier</button>
        {{ form_end(productForm) }}
    </div>
{% endblock %}
