{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Newsletter</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow p-4 rounded">
                    {{ form_start(newsletterForm) }}
                        <div class="mb-3">
                            {{ form_label(newsletterForm.email, 'Votre Email', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(newsletterForm.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(newsletterForm.email) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(newsletterForm.category, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(newsletterForm.category, {'attr': {'class': 'form-select'}}) }}
                            {{ form_errors(newsletterForm.category) }}
                        </div>

                        <div class="text-center">
                            {{ form_widget(newsletterForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    {{ form_end(newsletterForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
