{% extends 'base.html.twig' %}

{% block title %}
  Liste de produits pour la catégorie {{ categorie.name }}
{% endblock %}

{% block body %}
  <h1 class="display-1 text-center mb-5">Liste des produits pour la catégorie {{ categorie.name }}</h1>

  <div class="container">
    <div class="row">
      {% for product in categorie.products %}
        <div class="col-md-4 d-flex align-items-stretch mb-4">
          <div class="card shadow-pink p-3 bg-white rounded-custom w-100">
            <div class="card-body">
              <h2 class="card-title h3">
                <a href="{{ path('product_item', {'id': product.id}) }}" class="text-dark">{{ product.name }}</a>
              </h2>
              <h4 class="card-subtitle mb-2 text-muted"><strong>Prix: </strong>{{ product.price}}</h4>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">
                <img src="{{ asset(product.image) }}" alt="{{ product.name }}" class="img-fluid">
              </p>
            </div>
          </div>
        </div>
      {% else %}
        <p class="text-center">Aucun produit enregistré</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
